body {
  font-family: Arial, Helvetica, sans-serif !important;
}

/* table/grid start */
.data-grid {
  border-collapse: collapse;
  width: 100%;
}

.data-grid td,
.data-grid th {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-grid tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-grid tr:hover {
  background-color: #ddd;
}

.data-grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #076f7a;
  color: white;
}
.data-grid thead tr th:nth-last-child(1),
.data-grid thead tr th:nth-last-child(2) {
  text-align: center;
}

.data-grid tbody tr td:nth-last-child(1),
.data-grid tbody tr td:nth-last-child(2) {
  text-align: center;
}
/* table/grid end */

/* buttons/controls start */
.btn {
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
}
.btn-blue {
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-green {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-red {
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn.btn-blue:hover {
  background-color: #046979;
}
.btn.btn-red:hover {
  background-color: #7a0808;
}
.btn.btn-green:hover {
  background-color: #00751b;
}
.btn-modal-close {
  padding: 12px 20px;
  margin-left: 15px;
}
.btn-modal-save {
  padding: 12px 20px;
  float: left;
}
.btn-group {
  padding-bottom: 20px;
}
.btn-add-record {
  float: right;
  margin-bottom: 7px;
}

input:not(input[type="button"]),
select,
textarea {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  height: 150px;
  padding: 12px 15px;
  font-family: Arial, Helvetica, sans-serif;
}
label {
  font-weight: 500;
}
/* buttons/controls end */

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px 10px 0 10px;
}

.pad-top-10 {
  padding-top: 20px;
}
.mar-top-20 {
  margin-top: 20px;
}

.submit-msg {
  color: red;
  font-size: 14px;
}
